
html, body {

    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    background-color: #f2f2f2;
}
header{
    margin-top: 0px;
}

.texto-italico{

    font-style: italic;
}

.texto-sublinado{

    text-decoration: underline;

}

.texto-negrito{

    font-weight: 900;

}

.texto-marcado{

    background-color: #ffff00;
}


header nav ul li a, footer nav ul li a {
    color: #f2f2f2;
} 


h2  {
    color: #0D0D0D;
}
p {
    color: #404040;
    
}
footer p {
    color: #f2f2f2;
    
}
#fundoBrasilBlur{
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 10px 40%;
}
#tituloTabela{
    color: #0D0D0D;
}
#tituloCandidato{
    color: #fff;
}
#tituloGeral{
    color: #fff;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(4,4,70,1) 48%);
    margin-top: -15px;
    padding: 2px 40px;
   
}
nav  ul{
    position: relative;
    text-align: left;
    background-color: #333333;
    list-style-type: lower-roman;
    

}

nav  ul li{
    display: inline;
    padding: 5px 5px;
    
}
nav ul li a{
    text-decoration: none;
    
}

nav #menuSuperior ul li a:hover{

    color: #0D0D0D;
    transition: all 1s;
    background-color: #fff;
    cursor: pointer;
    
}

#copy{
    background-color: #333333 ;
    margin: -16px;
    
}
#copy p{
    padding-left: 60px;
    margin-top: 10px;
}
#lista ul{
    list-style-type: none;
    
    
}
#lista ul li{

    background-color: #a6a6a6;
    width: 25.4%;
    margin-top: 1px;
    

}
#lista ul li a{

    text-decoration: none;
    color: #0d0d0d;
    

}
#lista ul li:hover{

    background-color: #f2f2f2;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
}
i{
    margin: 5px;
}

.tabelaVotacao{
    background-color: #fff;
    margin: 10px;
    padding: 1%;
    text-align: center;
}
.tabelaVotacao table{
    text-align: center;
    margin: auto;
    width: 20%;
    border: none;
    border-collapse: collapse;
    border-spacing: 2px;
}
.tabelaVotacao tr{
    background-color:#a6a6a6;
}

.tabelaVotacao td{
    margin: 10px;
    background-color: #f2f2f2;
}

.dadosCandidatos{
    background-color: #fff;
    margin: -10px ;
    padding: 1%;
    text-align: center;
    color: #0D0D0D;
    
}
.dadosCandidatos table{
    text-align: center;
    margin: auto;
    width: 30%;
    border: none;
    border-collapse: collapse;
    border-spacing: 2px;
}

.dadosCandidatos th{

    background-color: #a6a6a6;

}
#tituloCandidato{
    color: #0D0D0D;
}
.dadosCandidatos td{
    background-color: #f2f2f2;
}

.tabelaVotacao td:hover{

    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: all 1s;


}


